{% extends 'base2.html' %}

{% block title %}
Add daily challenge
{% endblock title %}

{% block content %}

<div class="p-5">
    <span class="fs-2 text-primary">Daily Challenge Panel!</span>
    <br>
    <br>
    <form action="{% url 'addedDailyChallenge' %}" method="post" class="mx-5 px-5">
        {% csrf_token %}
        <div class="mb-3">
            <label for="word" class="form-label">Enter word</label>
            <input type="text" name="word" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="meaning" class="form-label">Enter meaning</label>
            <input type="text" name="meaning" class="form-control" required>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% endblock content %}