{% extends 'base2.html' %}

{% block title %}
Edit Learner Profile
{% endblock title %}

{% block content %}

<div class="p-5">

    {% if level %}
    <div class="p-3">
        Current Level : <span class="text-info fw-bold">{{level}}</span>
    </div>
    {% endif %}
    <form action="{% url 'updateLearner' %}" method="post" class="mx-5 px-5">
        {% csrf_token %}
        <div class="mb-3">
            <label for="level" class="form-label">Select Level</label>
            <select name="level" class="form-select">
                <option value="BGR" default selected>Beginner</option>
                <option value="ITD">Intermediate</option>
                <option value="ADV">Advanced</option>
            </select>
        </div>
        <input type="submit" value="Submit" class="btn btn-outline-primary">
    </form>
</div>

{% endblock content %}