{% extends 'base.html' %}
{% load static %}
{% block title %}
Minor project
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center align-middle hero-area d-flex justify-content-end ">
            <div class=" text-white hero-text">
                <span class="head-text" style="font-size: 6em;">VSkillUp</span> <br><br>
                <span class="sub-head-text text-white">
                   <a class="index-b" href="{% url 'login' %}" style=" font-weight: bold;">Login</a> or <a class="index-b" href="{% url 'register' %}" style=" font-weight: bold;">Register</a> to play the daily challenge!
                </span>
            </div>

        </div>
        <div class="col-12">

        </div>
    </div>
</div>



{% endblock body %}