{% extends 'base.html' %}

{% block title %}
Minor project
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center align-middle hero-area d-flex justify-content-end">
            <div class="text-white hero-text">
                <span class="fw-bold text-decoration-underline fs-1">VSkillUp</span> <br><br>
                <span class="fs-4">
                   <a href="{% url 'login' %}" style="text-decoration: none; color:white; font-weight: bold;">Login</a> or <a href="{% url 'register' %}" style="text-decoration: none; color:white; font-weight: bold;">Register</a> to play the daily challenge!
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock body %}