{% extends 'base.html' %}

{% block title %}
Minor project
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center align-middle hero-area d-flex justify-content-end">
            <div class="text-white hero-text">
                <span class="fw-bold fs-1 text-decoration-underline">VSkillUp</span> <br><br>
                <span class="fs-4">Login or Register to play the daily challenge!</span>
            </div>
        </div>
    </div>
</div>
{% endblock body %}