{% extends 'base.html' %}

{% block title %}
Learn
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% if loggedIn %}

        <div class="col-12 text-center p-5">
            <span class="fw-bold fs-3">VskillUp</span>
        </div>

        <div class="col-12 text-center p-5">
            <span class="fs-3 text-primary">Your score - {{score|floatformat:2}}%</span><br>
            <span class="fs-4 text-secondary">Actual Meaning - {{meaning}}</span><br><br>

            <span class="fs-5 text-success">Attempt next question! <a href="{% url 'learn' %}">Click here</a></span>
        </div>
        
        {% endif %}
    </div>
</div>
{% endblock body %}