{% extends 'base.html' %}

{% load static %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="container-fluid login">
    <div class="row">
      {% if message %}
      <div class="col-12 alert alert-secondary alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="col-sm-12 col-lg-6">
        <div class="form-decoration">
          <div>
          <span class="head-text" style="font-size:4em;">VskillUp</span>
        </div>
        <div>
          <img src="{% static 'img/login-vector.jpg' %}" alt="login-vector" class="form-image">
        </div>
        </div>
      </div>
        <div class="col-sm-12 col-lg-6 text-center">
            <form class="login-form" action="{% url 'signin' %}" method="post">
              {% csrf_token %}
                <div class="mb-4">
                    <span class="fs-2 fw-bold text-white text-uppercase">Login Form!</span>
                </div>
                <div class="mb-3">
                  <label for="registerEmail" class="form-label text-white">Username</label>
                  <input type="text" class="form-control" name="uname" required>
                </div>
                <div class="mb-3">
                  <label for="registerPwd" class="form-label text-white">Password</label>
                  <input type="password" class="form-control" name="registerPwd" required>
                </div>
                <button type="submit" class="btn btn-outline-light">Login</button>
              </form>
        </div>
    </div>
</div>
{% endblock body %}