{% extends 'base.html' %}

{% load static %}

{% block title %}
Register
{% endblock title %}

{% block body %}
<div class="container-fluid register">
  <div class="row">
    {% if message %}
    <div class="col-12 p-5">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
      {% endif %}
      <div class="col-sm-12 col-lg-6">
        <div class="form-decoration">
          <div>
          <span class="head-text" style="font-size:4em;">VskillUp</span>
        </div>
        <div>
          <img src="{% static 'img/register-vector.jpg' %}" alt="login-vector" class="form-image">
        </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 text-center">
        <form class="register-form" method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          <div class="mb-3">
            <span class="fs-2 fw-bold text-white text-uppercase">Registration Form!</span>
          </div>
          <div class="mb-3">
            <label for="fname" class="form-label text-white">First Name</label>
            <input type="text" name="fname" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="lname" class="form-label text-white">Last Name</label>
            <input type="text" name="lname" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="lname" class="form-label text-white">Username</label>
            <input type="text" name="uname" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="registerEmail" class="form-label text-white">Email address</label>
            <input type="email" class="form-control" name="registerEmail" required>
          </div>
          <div class="mb-3">
            <label for="registerPwd" class="form-label text-white">Password</label>
            <input type="password" class="form-control" name="registerPwd" minlength="8" maxlength="20" required>
          </div>
          <label for="register-btn" class="form-label text-white">Existing user? Login <a href="{% url 'login' %}" class="text-white text-decoration-underline">here!</a></label> <br>
          <button type="submit" class="btn btn-outline-light" name="register-btn">Register</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock body %}