{% extends 'base.html' %}

{% block title %}
Learn
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% if loggedIn %}

        <div class="col-12 text-center p-5">
            <span class="head-text" style="font-size: 3em;">VskillUp</span> <br>
            <span class="sub-head-text">Sentence forming and grammar check!</span>
        </div>

        <div class="col-12 text-center p-5 exo2">
            <form action="{% url 'sentenceCheck' %}" method="post">
                {% csrf_token %}
                <div class="mb-3" style="margin: 0 15%;">
                    <label for="text-sentence" class="form-label fs-4">Try a sentence out of your word!</label>
                    <textarea name="text-sentence" class="form-control exo2" style="height:30vh;font-size: 1.3em;" required> </textarea>
                </div>
                <div style="padding:0 40%">
                    <input type="submit" name="submit" class="btn btn-outline-primary w-100" value="Check grammar!">
                </div>
            </form>
        </div>

        {% if message %}
        <div class="col-12 text-center p-5">
                <span class="text-primary">Suggestions : {{correction}}</span>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock body %}