{% extends 'base2.html' %}

{% block title %}
Daily Challenge Track
{% endblock title %}

{% block content %}

{% if message %}

<div class="alert alert-info p-5 m-5">
    {{message}}
</div>

{% else %}

<div class="row">
    <div class="col-12 py-3 px-5">
        <span class="fs-3 text-decoration-underline">Attempted challenges!</span>
    </div>
    <div class="col-12 p-5">
        <div class="my-2">
            <span class="fs-4">Total challenges solved - {{total}}</span>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Word</th>
                <th scope="col">Meaning</th>
                <th scope="col">Status</th>
                <th scope="col">Accuracy</th>
              </tr>
            </thead>
            <tbody>
              {% for rec in record %}
        
              <tr>
                <td>{{rec.date}}</td>
                <td class="text-capitalize">{{rec.challenge.word}}</td>
                <td>{{rec.challenge.meaning}}</td>
                <td>
                    {% if rec.solvedCorrectly %}
                    <span class="text-success fw-bold">Correct!</span>
                    {% else %}
                    <span class="text-danger fw-bold">Incorrect!</span>
                    {% endif %}
                </td>
                <td>
                  {{rec.accuracy}}
                </td>
              </tr>
        
              {% endfor %}
            </tbody>
          </table>
            
    </div>

</div>


{% endif %}

{% endblock content %}