{% extends 'base.html' %}

{% block title %}
Minor project
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-5">
            <span class="sub-head-text fw-bold">User Details</span>
            <div style="padding: 5% 20%">
            <table class="table exo2">
                <tbody>
                    <tr>
                        <td class="fw-bold">Username</td>
                        <td>{{username}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">First Name</td>
                        <td>{{first_name}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Last Name</td>
                        <td>{{last_name}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Level</td>
                        <td>{{level}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock body %}