@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
	margin: 0;
	padding: 0;
}

.abs-btn-link {
	position: absolute;
	top: 5px;
	right: 15px;
	color: black;
	text-decoration: none;
	margin: 2%;
	padding: 0.3% 0.8%;
	font-size: 1.5rem;
	border: 1px solid black;
	border-radius: 50%;
}

.abs-btn-link:hover {
	color: white;
	text-decoration: none;
	background-color: black;
}

.offcanvas {
	width: 300px !important;
	text-align: center;
}

.sidenav li a {
	color: black;
	text-decoration: none;
	font-size: 1.1rem;
}

.sidenav li a:hover {
	color: black;
	text-decoration: none;
}

.offcanvas-title {
	font-size: 1.5rem;
	margin: 0 auto;
}

.register {
	min-height: 90vh;
}

.register-form {
	background-color: white;
	margin: 15% 20%;
	padding: 15% 5%;
	border-radius: 25px;
	background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
	font-family: 'Titillium Web', sans-serif;
}

.login {
	min-height: 90vh;
}

.login-form {
	background-color: white;
	margin: 15% 20%;
	padding: 15% 5%;
	border-radius: 25px;
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	font-family: 'Titillium Web', sans-serif;
}

.welcome-sidenav {
	border-right: 1px solid black;
	min-height: 100vh;
}

.rm-a-dec {
	color: black;
	text-decoration: none;
}

.rm-a-dec:hover {
	color: black;
}

.hero-area {
	height: 100vh;
	overflow: hidden;
	background-image: url('../img/hero-img-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-text {
	padding: 12%;
	margin: 2%;
	opacity: 1;
}

.head-text {
	font-family: 'Rubik Microbe', cursive;
	font-weight: bold;
}

.sub-head-text {
	font-family: 'Bitter', serif;
	font-size: 2em;
}

.login-form div input, .register-form div input
{
	background-color: transparent;
	border: 2px solid white;
	padding: 3%;
	border-radius: 50px;
	color: white;
	font-weight: bold;
}

.login-form button, .register-form button{
	margin-top: 5%;
	font-size: 1.3em;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}

.login-form div input:focus, .register-form div input:focus
{
	background-color: transparent;
	border: 2px solid white;
	color: white;
}

.step-card{
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
	min-height: 53vh;
	margin: 10%;
	padding: 3%;
	border-radius: 25px;
}

.step-card-head{
	font-size: 3em;
	color: white;
	text-transform: uppercase;
	font-family: 'Rubik Glitch', cursive;
}

.step-card-text
{
	font-size: 1.5em;
	color: white;
	font-family: 'Titillium Web', sans-serif;
}

.exo2{
	font-family: 'Exo 2', sans-serif;
}

.settingForm{
	margin-right: 50%;
}